
body {
  margin: 0;
  padding: 0;
  font-family: 'Aboreto', cursive;
  font-weight: 800;
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  background: linear-gradient(
    to right,
    #d4d3dd,
    #efefbb
  );
  text-align: center;
 }

 .app-title {
  letter-spacing: 5px;
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 86px;
  color: #0ccac4;
  font-family: 'Bigelow Rules', cursive;
 }


